
.myDiv {
  border: 3px outset #312450;
  text-align: left;
  padding: 5px;
}

.query_button {
  margin-top: 8px;
}

.happy {
  size: 77;
  margin-top: 5px;
}

.table-wrapper {
  position:relative;
}
.table-scroll {
  height:150px;
  overflow:auto;
  margin-top:20px;
}
.table-wrapper table {
  width:100%;

}